@import '../../style.scss';
.stories{
    display: flex;
    gap:10px;
    height: 200px;
    margin-bottom: 30px;

    
    @include tablet{
        height: 150px;
        gap: 20px;
    }
    @include mobile{
        height: 80px;
        justify-content: space-between;
        align-items: center;
    }
    .story{
        position: relative;
        flex: 1;
        border-radius: 10px;
        overflow: hidden;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        @include mobile{
            flex: none;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        span{
            position: absolute;
            bottom: 10px;
            left:10px;
            color:white;
            font-weight: 500;

            @include mobile{
                display: none;
            }
        }

        button{
            position: absolute;
            bottom: 50px;
            left: 10px;
            color: white;
            background-color:#5271ff;
            border: none;
            border-radius: 50%;
            width: 25px;
            height: 25px;
            cursor: pointer;
            font-size: 25px;
            display: flex;
            align-items: center;
            justify-content: center;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            @include mobile{
                bottom: 0;
                left: 0;
                margin:auto;
                transform: translate(33px,-6px);
                width: 15px;
                height: 15px;
                font-size:15px ;
                -webkit-transform: translate(33px,-6px);
                -moz-transform: translate(33px,-6px);
                -ms-transform: translate(33px,-6px);
                -o-transform: translate(33px,-6px);
}
}

    }
}