@import "../../style.scss";

.home {
  @include themify($themes) {
    background-color: themed("bgsoft");
   /* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
    min-height: 100vh;
    padding: 50px 250px;
    margin-inline: auto;
    @include mobile{
      padding: 10px ;
    }
    @include tablet{
      padding: 20px ;
    }
  }
}
