$color-a: rgb(246, 246, 246);
$color-b: rgb(223, 227, 238);
$color-c: rgb(139, 157, 195);
$color-d: rgb(58, 89, 152);
@import "../../style.scss";
.navbar {
  @include themify($themes) {
    z-index: 1000;
    position: sticky;
    top: 0;
    background-color: themed("bg");
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include mobile {
      justify-content: space-between;
      gap: 10px;
    }
    padding: 10px 20px;
    height: 50px;
    border-bottom: 1px solid themed("border");
    color: themed("textcolor");

    .left {
      img {
        width: 35px;
        border-radius: 3px;
        overflow: hidden;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
        -webkit-border-radius: 3px;
      }
      display: flex;
      align-items: center;
      gap: 20px;
      .eegram {
        font-weight: bold;
        font-size: 2vw;
        color: themed("logo");
        @include tablet {
          font-size: 5vw;

        }
        @include mobile {
          font-size: 5vw;

        }
      }

      .search {
        display: flex;
        align-items: center;
        gap: 10px;
        border: 1px solid themed("border");
        padding: 5px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        
        input {
          background-color: transparent;
          color: themed("textcolor");
          border: none;
          width: 480px;
          &:focus {
            outline: none;
          }

          @include tablet {
            width: 100px;
          }
          @include mobile {
            width: 25px;
            font-size: 12px;
          }
        }
      }
      
    }

    .right {
      display: flex;
      align-items: center;
      gap: 20px;
      .profilePic {
        width: 45px;
        height:45px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        object-fit: cover;
      }
      .name{
        @include mobile {
          display: none;
        }
        @include tablet {
          display: none;
        }
      }
      .user {
        display: flex;
        align-items: center;
        gap: 10px;
        font-weight: 500;
      }
    }
  }
}
.results{
  @include themify($themes) {
  color:themed('textcolor');

  &::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  max-height: 240px;
  overflow-y: scroll;
  border:1px solid gray;
  border-radius: 10px;
  z-index: 2000;
  width: 480px;
  background-color: themed('bg');
  position: fixed;
  top: 55px;
  left:22%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  @include tablet {
    margin: auto;
    left:25%;
    width: 400px;
  }
  @include mobile {
    margin-inline: auto;
    left: 0;
    right: 0;
    width: 200px;
  }
  .userInfo{
    border-bottom: 1px solid themed('border');
    padding: 10px;
    display: flex;
    gap: 20px;
    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      object-fit: cover;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      -webkit-border-radius: 50%;
    }

    .details {
      display: flex;
      flex-direction: column;

      .name {
        font-weight: 500;
      }

    }
  }
}
}
