$color-a: rgb(246, 246, 246);
$color-b: rgb(223, 227, 238);
$color-c: rgb(139, 157, 195);
$color-d: rgb(58, 89, 152);
@import "../../style.scss";
.navbar {
  @include themify($themes) {
    z-index: 1000;
    position: sticky;
    top: 0;
    background-color: themed("bg");
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include mobile {
      justify-content: space-between;
      gap: 10px;
    }
    padding: 10px 20px;
    height: 50px;
    border-bottom: 1px solid themed("border");
    color: themed("textcolor");

    .left {
      display: flex;
      align-items: center;
      gap: 20px;
      span {
        font-weight: bold;
        font-size: 20px;
        color: themed("logo");
      }

      .search {
        display: flex;
        align-items: center;
        gap: 10px;
        border: 1px solid themed("border");
        padding: 5px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;

        input {
          background-color: transparent;
          color: themed("textcolor");
          border: none;
          width: 400px;
          &:focus {
            outline: none;
          }

          @include tablet {
            width: 200px;
          }
          @include mobile {
            width: 50px;
            font-size: 12px;
          }
        }
      }
    }

    .right {
      display: flex;
      align-items: center;
      gap: 20px;
      .email-icon {
        @include mobile {
          display: none;
        }
      }
      .notif-icon {
        @include mobile {
          display: none;
        }
      }
      .user {
        display: flex;
        align-items: center;
        gap: 10px;
        font-weight: 500;
        img {
          @include mobile {
            display: none;
          }
          width: 30px;
          height: 30px;
          border-radius: 50%;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          -o-border-radius: 50%;
          object-fit: cover;
        }

        span {
          @include mobile {
            display: none;
          }
        }
        @include tablet {
          display: none;
        }
      }
    }
  }
}
