@font-face {
  font-family: 'BNazanin';
  src: url('./assets/fonts/BNazanin.eot?#') format('eot'),  /* IE6–8 */
  url('./assets/fonts/BNazanin.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('./assets/fonts/BNazanin.ttf') format('truetype');
  font-display: swap;
}
       
.persian-font {
  text-align: center;
  font-family: BNazanin;
  font-size: medium;
}

